* {
  margin: 0;
  padding: 0;
  border: 0;

}

body {
  font-family: 'Dancing Script', cursive;
  background-color: #F5EBEB
}

header {
  width: 100%;
  background-color: #D5B4B4;
  height: 180px;
  border-bottom: 2px solid #A86464
}

h1 {
  padding: 15px;
  color: white;
}

.ancho {
  width: 95%;
  height: 70px;
  margin: auto;
  text-transform: uppercase;
}

.logo {
  width: 20%;
  height: 70px;
  float: left;
  padding-top: 10px;
  box-sizing: border-box;
}

.logo a {
  text-decoration: none;
}

.logo img {
  width: 130px;
  height: 160px;
  border-radius: 20%;
  max-width: 100%;
}
.miedo{
  width: 300px;
  height: 200px;
}

nav {
  width: 80%;
  max-width: 100%;
  float: right;
  padding-top: 15px;
  margin: 15px;
  box-sizing: border-box;
  display: flex;
}

nav ul li {
  display: inline;
  padding: 6px;
  margin: 8px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 10px;
  font-weight: bold;
  letter-spacing: 3px;
}

nav ul li a:hover {
  background-color: #E4D0D0;
  padding: 8px;
  border: 1px;
  border-radius: 50%;
  transition: 0.8s ease;
}

.caja {
  width: 200px;
  margin-left: 100px;
  margin-bottom: 10px;
  padding: 2px;

}

input.src {
  margin-top: 100px;
  margin-left: -100px;
  padding: 6px 5px 6px 5px;
  outline: none;
  font-size: 15px;
  border-radius: 15px;
  color: black;
  border: 4px solid #89375F;
  width: 80px;
  transition: all 300ms ease;
}

input:hover {
  width: 350px;
  background-color: white;
  border-color: #BA90C6;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.carousel-inner img {
  height: 400px;
  max-width: 100%;
}

#carouselExampleIndicators {
  border: 5px solid #E4D0D0;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  font-size: 40px;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  text-decoration: underline;
}

p {
  margin: 15px;
  padding: 10px;
  font-size: 22px;
  line-height: 40px;
}
.pcarrito{
  font-size: 15px;
}

.card-title {
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  margin: 10px;
  padding: 5px;
}

.card {
  border: 5px solid #FFDEB4;
}

.card-cata {
  border: 2px solid #FFDEB4;
}

.h-103 {
  width: 480px;
}

.h-101 {
  height: 100%
}

.card-promo {
  height: 250px;
  max-width: 100%;
  border: 2px solid #FFDEB4;
}

.card-des {
  width: 525px;
  height: 400px;
  max-width: 100%;
  border: 2px solid #FFDEB4;
}
.compra{
  background-color: #EDDBC7;
  border: none;
  width: 130px;
  height: 30px;
  border-radius: 30px;

}
.compra2{
  background-color: #EDDBC7;
  border: none;
  width: 80%;
  height: 50px;
  border-radius: 30px;

}
.compra:hover{
  background-color: #DBA39A;
}

.col2 {
  --bs-gutter-x: 12rem;
  --bs-gutter-y: 2rem;
}

.col3 {
  --bs-gutter-x: 83px;
}

.card-body {
  background-color: #FEFCF3;
}

.card-cata {
  height: 280px;
}

.img-promo {
  width: 241px;
  height: 230px;
}

.col-md-8 {
  width: 80%;
  border: 5px solid #DBA39A;
  background-color: #FEFCF3;
}

.col-md-4 {
  width: 20%;
  border: 5px solid #DBA39A;
}

.card-text {
  font-size: 18px;
  margin: 5px;
  padding: 5px;
}

.card-text2 {
  margin-left: 100px;
  font-size: 22px;
}

.contacto {
  width: 45%;
  margin: 5px;
  padding: 5px;
}

.contacto2 {
  width: 45%;
  margin: 5px;
  padding: 5px;
}

form {
  margin: 0 auto;
  width: 600px;
  height: 700px;
  padding: 5px;
  border: 3px solid #A86464;
  border-radius: 1em;
}

dl,
ol,
ul li {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px
}

label {
  display: inline-block;
  width: 100%;
  margin: 5px;
  margin-bottom: 15px;
  padding: 5px;
}

input.form,
textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 5px;
  margin-bottom: 15px;
  padding: 5px;
  padding-left: 8px;
  border: 2px solid #EAC7C7;
  border-radius: 15px;
}


textarea {
  vertical-align: top;
  height: 5em;
}

.imglogo {
  width: 25px;
  height: 25px;
  margin: 5px;
}
.imgitem{
  width: 80%;
  height: 500px;
  border: 3px solid #DBA39A;
}

.pie-pagina {
  width: 100%;
  background-color: #A7727D;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 150px;
  height: 180px;
  border-radius: 30%;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  margin-right: 150px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box li {
  color: #efefef;
  margin-bottom: 10px;
  margin-left: 8px;
  list-style: none;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  margin-left: 8px;
  background-color: #A86464;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: #804674;
}

.pie-pagina .grupo-2 {
  background-color: #804674;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width:800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}